<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>hibernate-jpa</display-name>
  <servlet>
  	<servlet-name>JPALearnServlet</servlet-name>
  	<display-name>JPALearnServlet</display-name>
  	<description></description>
  	<servlet-class>com.zhongruan.hibernate.servlet.JPALearnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JPALearnServlet</servlet-name>
  	<url-pattern>/jpa</url-pattern>
  </servlet-mapping>
</web-app>
